		<!-- subcribe-section 
			================================================== -->

<script type="text/javascript">
    var submission = false;
  </script>
  <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"
  onload="if(submission)  {window.location='/thankyou';}"></iframe>

            <section class="subcribe-section">
                <div class="container">
                    <div class="title-section white">
                        <h1>Subscribe to our newsletter</h1>
                    </div>
                    <form class="subscribe" action="https://docs.google.com/forms/d/e/1FAIpQLSf5ddGyszvRC6Mb1VfxbIUWxIe8Sbfht1j7CcDXESQbZYi0Jg/formResponse" target="hidden_iframe" onsubmit="submission=true;" method="POST">
                        <input type="text" name="entry.825934208" id="name-subs" placeholder="name" required/>
                        <input type="email" name="entry.1441391045" id="email-subs" placeholder="your email address" required/>
                        <input type="submit" id="submit-subscribe" value="subscribe"/>
                    </form>
                    <p>Hear from us, lets keep in touch.</p>
                </div>
            </section>
            <!-- End subscribe section -->
    
            <!-- footer 
                ================================================== -->
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="contact-info">
                                <h2><i class="fa fa-location-arrow"></i> Our Address</h2>
                                <p>Indiranagar Club,</br>Bangalore, Karnataka, India.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="contact-info">
                                <h2><i class="fa fa-envelope-o"></i> Contact Us</h2>
                                <p>+91 85537 88515 <br> info@3190rbe.org</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="contact-info">
                                <h2><i class="fa fa-map-marker"></i> Club Meeting</h2>
                                <p>Indirangar Club<br> 3rd Sunday: 11:00 - 14:00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- End footer -->