<script type="text/javascript" src="{{site.baseurl}}/js/jquery.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/jquery.migrate.js"></script>
<!-- Used only on about page -->
<script type="text/javascript" src="{{site.baseurl}}/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/retina-1.1.0.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/script.js"></script>