		<!-- subcribe-section 
			================================================== -->
            <section class="subcribe-section">
                <div class="container">
                    <div class="title-section white">
                        <h1>Subscribe to our newsletter</h1>
                    </div>
                    <form class="subscribe" action="https://groups.google.com/forum/#!forum/3190rbenews/join" target="_blank">
                        <!-- <input type="text" name="name-subs" id="name-subs" placeholder="name"/> -->
                        <!-- <input type="text" name="email-subs" id="email-subs" placeholder="your email address"/> -->
                        <input type="submit" id="submit-subscribe" value="subscribe"/>
                    </form>
                    <p>Hear from us, lets keep in touch.</p>
                </div>
            </section>
            <!-- End subscribe section -->
    
            <!-- footer 
                ================================================== -->
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="contact-info">
                                <h2><i class="fa fa-location-arrow"></i> Our Address</h2>
                                <p>Indiranagar Club,</br>Bangalore, Karnataka, India.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="contact-info">
                                <h2><i class="fa fa-envelope-o"></i> Contact Us</h2>
                                <p>+91 85537 88515 <br> 3190rbe@gmail.com</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="contact-info">
                                <h2><i class="fa fa-map-marker"></i> Club Meeting</h2>
                                <p>Indirangar Club<br> 3rd Sunday: 11:00 - 14:00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- End footer -->