<head>
	<title>{% if page.layout == "post" %}{{page.title}}{% elsif page.type == "year" %}{{ page.date | date: "%Y"}}{% elsif page.type == "month" %}{{ page.date | date: "%B %Y"}}{% elsif page.type == "day" %}{{ page.date | date: "%d %B %Y"}}{% elsif page.bannertitle %}{{page.bannertitle}}{% else %}{{ page.title | capitalize | replace: "-"," "}}{% endif %} – {{site.title}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% if page.noindex == true %}
	<meta name=”robots” content=”noindex, follow”>
	{% endif %}
	{% if page.redirect_to_home == true %}
	<meta http-equiv="refresh" content="3; url = /" />
	{% endif %}
	<link href='https://fonts.googleapis.com/css?family=Montserrat:300,400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>
	<!-- The below link was used only on single service and single post -->
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"> 
	
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/bootstrap.min.css" media="screen">
	<!-- START: Below owl style sheets are used on in about section -->
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/owl.carousel.css" media="screen">	
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/owl.theme.css" media="screen">
	<!-- END -->
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/font-awesome.css" media="screen">
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/style.css" media="screen">

</head>