		<!-- testimonial-section 
			================================================== -->
            <!-- <section class="testimonial-section">
                <div class="container">
                    <div class="testimonial-box">
                        <ul class="bxslider">
                            <li>
                                <p>“ Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. ”</p>
                                <h2>John Smith</h2>
                                <span>Menager</span>
                            </li>
                            <li>
                                <p>“ Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. ”</p>
                                <h2>Larry Jane</h2>
                                <span>Ceo / Founder</span>
                            </li>
                            <li>
                                <p>“ Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. ”</p>
                                <h2>Quan Ngyen</h2>
                                <span>Developer</span>
                            </li>
                        </ul>
                    </div>
    
                </div>
            </section> -->
            <!-- End testimonial section -->