		<!-- home-section 
			================================================== -->
            <section id="home-section" class="slider1">
			

                <div id="rev_slider_66_1_wrapper" class="rev_slider_wrapper fullwidth-container" data-alias="web-product-dark62" style="background-color:transparent;padding:0px;">
                    <!-- START REVOLUTION SLIDER 5.0.7 fullscreen mode -->
                    <div id="rev_slider_66_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.0.7">
                        <ul>	<!-- SLIDE  -->
                            <li data-index="rs-227" data-transition="slidevertical" data-slotamount="1"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="{{site.baseurl}}/upload/slide/1.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->
    
                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme" 
                                     id="slide-227-layer-1" 
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                                                data-width="full"
                                    data-height="full"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                         
                                     data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" 
                                     data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
                                    data-start="0" 
                                    data-basealign="slide" 
                                    data-responsive_offset="on" 
    
                                    
                                    style="z-index: 5;background-color:rgba(0, 0, 0, 0.2);border-color:rgba(0, 0, 0, 1.00);"> 
                                </div>
    
                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption WebProduct-Title-Light   tp-resizeme" 
                                     id="slide-227-layer-2" 
                                     data-x="['left','left','left','left']" data-hoffset="['0','0','10','30']" 
                                     data-y="['middle','middle','top','top']" data-voffset="['-70','-70','147','140']"
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                         
                                     data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" 
                                     data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
                                    data-start="1000" 
                                    data-splitin="none" 
                                    data-splitout="none" 
                                    data-responsive_offset="on" 
    
                                    
                                    style="z-index: 11; white-space: nowrap;">UNITE<br/>with Easterners
                                </div>
    
                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption WebProduct-SubTitle-Light   tp-resizeme" 
                                     id="slide-227-layer-3" 
                                     data-x="['left','left','left','left']" data-hoffset="['0','0','10','30']" 
                                     data-y="['middle','middle','top','top']" data-voffset="['4','4','254','237']" 
                                                data-fontsize="['15','15','15','13']"
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                         
                                     data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" 
                                     data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
                                    data-start="1250" 
                                    data-splitin="none" 
                                    data-splitout="none" 
                                    data-responsive_offset="on" 
    
                                    
                                    style="z-index: 12; white-space: nowrap;letter-spacing:2px;font-weight:500;">
                                </div>
    
                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption WebProduct-Content-Light   tp-resizeme" 
                                     id="slide-227-layer-4" 
                                     data-x="['left','left','left','left']" data-hoffset="['0','0','10','30']" 
                                     data-y="['middle','middle','top','top']" data-voffset="['60','58','275','247']" 
                                                data-fontsize="['16','16','16','14']"
                                    data-lineheight="['24','24','24','22']"
                                    data-width="['448','356','334','277']"
                                    data-height="['none','none','76','68']"
                                    data-whitespace="normal"
                                    data-transform_idle="o:1;"
                         
                                     data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" 
                                     data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
                                    data-start="1500" 
                                    data-splitin="none" 
                                    data-splitout="none" 
                                    data-responsive_offset="on" 
    
                                    
                                    style="z-index: 13; min-width: 448px; max-width: 448px; white-space: normal;">We are a family and family means no one gets left behind or forgotten
                                </div>
    
                                <!-- LAYER NR. 5 -->
                                <a class="tp-caption WebProduct-Button"
                                    href="{{site.baseurl}}/join"  
                                    id="slide-227-layer-5" 
                                    data-x="['left','left','left','left']" data-hoffset="['0','0','10','30']" 
                                    data-y="['middle','middle','top','top']" data-voffset="['138','138','326','290']" 
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                                    data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;"
                                    data-style_hover="c:rgba(51, 51, 51, 1.00);bg:rgba(255, 255, 255, 1.00);"
                         
                                    data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" 
                                    data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
                                    data-start="1750" 
                                    data-splitin="none" 
                                    data-splitout="none" 
                                    data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-228","delay":""}]'
                                    data-responsive_offset="on" 
                                    data-responsive="off"
                                    
                                    style="z-index: 14; white-space: nowrap;letter-spacing:1px;">Join Us
                                </a>
                            </li>
                            <!-- SLIDE  -->
                            <li data-index="rs-228" data-transition="slidevertical" data-slotamount="1"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-rotate="0"  data-saveperformance="off"  data-title="Examples" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="{{site.baseurl}}/upload/slide/2.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->
    
                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme" 
                                     id="slide-228-layer-1" 
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                                                data-width="full"
                                    data-height="full"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                         
                                     data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" 
                                     data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
                                    data-start="0" 
                                    data-basealign="slide" 
                                    data-responsive_offset="on" 
    
                                    
                                    style="z-index: 5;background-color:rgba(0, 0, 0, 0.2);border-color:rgba(0, 0, 0, 1.00);"> 
                                </div>
    
                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption WebProduct-Title-Light   tp-resizeme" 
                                     id="slide-228-layer-2" 
                                     data-x="['left','left','left','left']" data-hoffset="['0','0','10','30']" 
                                     data-y="['middle','middle','top','top']" data-voffset="['-70','-70','147','140']"
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                         
                                     data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" 
                                     data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
                                    data-start="1000" 
                                    data-splitin="none" 
                                    data-splitout="none" 
                                    data-responsive_offset="on" 
    
                                    
                                    style="z-index: 11; white-space: nowrap;">RISE<br/>with Easterners
                                </div>
    
                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption WebProduct-SubTitle-Light   tp-resizeme" 
                                     id="slide-228-layer-3" 
                                     data-x="['left','left','left','left']" data-hoffset="['0','0','10','30']" 
                                     data-y="['middle','middle','top','top']" data-voffset="['4','4','254','237']" 
                                                data-fontsize="['15','15','15','13']"
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                         
                                     data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" 
                                     data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
                                    data-start="1250" 
                                    data-splitin="none" 
                                    data-splitout="none" 
                                    data-responsive_offset="on" 
    
                                    
                                    style="z-index: 12; white-space: nowrap;letter-spacing:2px;font-weight:500;">
                                </div>
    
                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption WebProduct-Content-Light   tp-resizeme" 
                                     id="slide-228-layer-4" 
                                     data-x="['left','left','left','left']" data-hoffset="['0','0','10','30']" 
                                     data-y="['middle','middle','top','top']" data-voffset="['60','58','275','247']" 
                                                data-fontsize="['16','16','16','14']"
                                    data-lineheight="['24','24','24','22']"
                                    data-width="['448','356','334','277']"
                                    data-height="['none','none','76','68']"
                                    data-whitespace="normal"
                                    data-transform_idle="o:1;"
                         
                                     data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" 
                                     data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
                                    data-start="1500" 
                                    data-splitin="none" 
                                    data-splitout="none" 
                                    data-responsive_offset="on" 
    
                                    
                                    style="z-index: 13; min-width: 448px; max-width: 448px; white-space: normal;">With the Unity we RISE by learning from each other
                                </div>
    
                                <!-- LAYER NR. 5 -->
                                <a class="tp-caption WebProduct-Button"
                                    href="{{site.baseurl}}/join"  
                                    id="slide-228-layer-5" 
                                    data-x="['left','left','left','left']" data-hoffset="['0','0','10','30']" 
                                    data-y="['middle','middle','top','top']" data-voffset="['138','138','326','290']" 
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                                    data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;"
                                    data-style_hover="c:rgba(51, 51, 51, 1.00);bg:rgba(255, 255, 255, 1.00);"
                         
                                    data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" 
                                    data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
                                    data-start="1750" 
                                    data-splitin="none" 
                                    data-splitout="none" 
                                    data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-228","delay":""}]'
                                    data-responsive_offset="on" 
                                    data-responsive="off"
                                    
                                    style="z-index: 14; white-space: nowrap;letter-spacing:1px;">Join Us
                                </a>
                            </li>
                            <!-- SLIDE  -->
                            <li data-index="rs-229" data-transition="slidevertical" data-slotamount="1"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-rotate="0"  data-saveperformance="off"  data-title="Get a License" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="{{site.baseurl}}/upload/slide/3.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->
    
                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme" 
                                     id="slide-229-layer-1" 
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                                                data-width="full"
                                    data-height="full"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                         
                                     data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" 
                                     data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
                                    data-start="0" 
                                    data-basealign="slide" 
                                    data-responsive_offset="on" 
    
                                    
                                    style="z-index: 5;background-color:rgba(0, 0, 0, 0.2);border-color:rgba(0, 0, 0, 1.00);"> 
                                </div>
    
                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption WebProduct-Title-Light tp-resizeme" 
                                     id="slide-229-layer-2" 
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','top','top']" data-voffset="['-100','-100','196','207']" 
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                         
                                     data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" 
                                     data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
                                    data-start="1000" 
                                    data-splitin="none" 
                                    data-splitout="none" 
                                    data-responsive_offset="on" 
    
                                    
                                    style="z-index: 6; white-space: nowrap;text-align:center;">Empower<br/>
                        the Community
                                </div>
    
                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption WebProduct-SubTitle-Light   tp-resizeme" 
                                     id="slide-229-layer-3" 
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','top','top']" data-voffset="['-24','-24','234','227']" 
                                                data-fontsize="['15','15','15','13']"
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                         
                                     data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" 
                                     data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
                                    data-start="1250" 
                                    data-splitin="none" 
                                    data-splitout="none" 
                                    data-responsive_offset="on" 
    
                                    
                                    style="z-index: 7; white-space: nowrap;letter-spacing:2px;font-weight:500;">
                                </div>
    
                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption WebProduct-Content-Light   tp-resizeme" 
                                     id="slide-229-layer-4" 
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','top','top']" data-voffset="['29','27','245','226']" 
                                                data-fontsize="['16','16','16','14']"
                                    data-lineheight="['24','24','24','22']"
                                    data-width="['448','356','334','277']"
                                    data-height="['none','none','76','68']"
                                    data-whitespace="normal"
                                    data-transform_idle="o:1;"
                         
                                     data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" 
                                     data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
                                    data-start="1500" 
                                    data-splitin="none" 
                                    data-splitout="none" 
                                    data-responsive_offset="on" 
    
                                    
                                    style="z-index: 8; min-width: 448px; max-width: 448px; white-space: normal;text-align:center;">With the Unity we Rise and Empower the Community around US 
                                </div>
    
                                <!-- LAYER NR. 5 -->
                                <a class="tp-caption WebProduct-Button" 
                         href="{{site.baseurl}}/join" id="slide-229-layer-5" 
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','top','top']" data-voffset="['108','108','296','270']" 
                                                data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                                        data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;"
                                        data-style_hover="c:rgba(51, 51, 51, 1.00);bg:rgba(255, 255, 255, 1.00);"
                         
                                     data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" 
                                     data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
                                    data-start="1750" 
                                    data-splitin="none" 
                                    data-splitout="none" 
                                    data-actions=''
                                    data-responsive_offset="on" 
                                    data-responsive="off"
                                    
                                    style="z-index: 9; white-space: nowrap;letter-spacing:1px;">Join Us
                                </a>
                            </li>
                        </ul>
                    </div><!-- END REVOLUTION SLIDER -->
                </div>
            </section>
            <!-- End home section -->

            		<!-- banner-section 
			================================================== -->
		<section class="banner-section">
			<div class="container">
				<h2>Help turn tears to smiles. !!!<a href="{{site.baseurl}}/contact" class="button-one">Contact</a></h2>
			</div>
		</section>
		<!-- End banner section -->