		<!-- testimonial-section 
			================================================== -->
            <!-- <section class="testimonial-section">
                <div class="container">
                    <div class="testimonial-box">
                        <ul class="bxslider">
                            {% for testimonial in site.data.testimonial %}
                            <li>
                                <p>“ {{testimonial.message}} ”</p>
                                <h2>{{testimonial.name}}</h2>
                                <span>{{testimonial.role}}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
    
                </div>
            </section> -->
            <!-- End testimonial section -->