<!-- choose section 
			================================================== -->
            <section class="choose-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
    
                            <div class="accordion-box">
                                <h1>Why choose us ?</h1>
                                <p>Rotaract Bangalore East believes in "Unity to Rise and Empower", Join us to experience the joy of giving as part of family of RBE</p>
                                <div class="accord-elem active">
                                    <div class="accord-title">
                                        <a class="accord-link" href="#">What is a Rotaract Club?</a>
                                    </div>
                                    <div class="accord-content">
                                        <p>Rotaract clubs bring together people ages 18-30 to exchange ideas with leaders in the community, develop leadership and professional skills, and have fun through service.</p>
                                    </div>
                                </div>
                                <div class="accord-elem">
                                    <div class="accord-title">
                                        <a class="accord-link" href="#">Why should I join Rotaract?</a>
                                    </div>
                                    <div class="accord-content">
                                        <p>Rotaract is global movement of young leaders who are developing innovative solutions to the world’s most pressing challenges. <br>In communities worldwide, Rotary and Rotaract members work side by side to take action through service. From big cities to rural villages, Rotaract is changing communities like yours.</p>
                                    </div>
                                </div>
                                <div class="accord-elem">
                                    <div class="accord-title">
                                        <a class="accord-link" href="#">How do I know more about Rotaract?</a>
                                    </div>
                                    <div class="accord-content">
                                        <p>Visit <a href="https://www.rotary.org/en/get-involved/rotaract-clubs" target="_blank">https://www.rotary.org/en/get-involved/rotaract-clubs</a>.</p>
                                    </div>
                                </div>
    
                            </div>
    
                        </div>
    
                        <div class="col-md-6">
                            <div class="banner-consult">
                                <h1><span>Join</span> Rotaract Bangalore East</h1>
                                <p>To UNITE with EASTERNERS to RISE and EMPOWER</p>
                                <a href="https://forms.gle/Ezf99jFKEXgMGhH36" target="_blank">Join Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End choose section -->