		<!-- statistic-section 
			================================================== -->
		<section id="statistic-section">
			<div class="container">
				<div class="statistic-box">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="statistic-post">
								<p><span class="timer" data-from="0" data-to="{{site.data.stats.club}}"></span></p>
								<h2>Club</h2>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="statistic-post">
								<p><span class="timer" data-from="0" data-to="{{site.data.stats.easterners}}"></span><span>+</span></p>
								<h2>Easterners</h2>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="statistic-post">
								<p><span class="timer" data-from="0" data-to="{{site.data.stats.projects}}"></span><span>+</span></p>
								<h2>Number of Projects</h2>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="statistic-post">
								<p><span class="timer" data-from="0" data-to="{{site.data.stats.reach}}"></span><span>+</span></p>
								<h2>People reached so far</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End statistic section -->