		<!-- consulting-section 
			================================================== -->
            <section class="consulting-section">
                <div class="container">
                    <div class="title-section">
                        <h1>Our Focus</h1>
                    </div>
                    <div class="consulting-box">
                        <div class="row">
    
                            <div class="col-md-4">
                                <div class="consulting-post">
                                    <a href="https://www.rotary.org/en/our-causes/promoting-peace" target="_blank"><i class="fa fa-globe"></i></a>
                                    <h2>Promoting peace</h2>
                                    <p></p>
                                </div>
                            </div>
    
                            <div class="col-md-4">
                                <div class="consulting-post">
                                    <a href="https://www.rotary.org/en/our-causes/fighting-disease" target="_blank"><i class="fa fa-medkit"></i></a>
                                    <h2>Fighting disease</h2>
                                    <p></p>
                                </div>
                            </div>
    
                            <div class="col-md-4">
                                <div class="consulting-post">
                                    <a href="https://www.rotary.org/en/our-causes/providing-clean-water" target="_blank"><i class="fa fa-tint"></i></a>
                                    <h2>Providing clean water, sanitation, and hygiene</h2>
                                    <p></p>
                                </div>
                            </div>
    
                        </div>
                        <div class="row">
    
                            <div class="col-md-4">
                                <div class="consulting-post">
                                    <a href="https://www.rotary.org/en/our-causes/saving-mothers-and-children" target="_blank"><i class="fa fa-star-o"></i></a>
                                    <h2>Saving mothers and children</h2>
                                    <p></p>
                                </div>
                            </div>
    
                            <div class="col-md-4">
                                <div class="consulting-post">
                                    <a href="https://www.rotary.org/en/our-causes/supporting-education" target="_blank"><i class="fa fa-book"></i></a>
                                    <h2>Supporting education</h2>
                                    <p></p>
                                </div>
                            </div>
    
                            <div class="col-md-4">
                                <div class="consulting-post">
                                    <a href="https://www.rotary.org/en/our-causes/growing-local-economies" target="_blank"><i class="fa fa-money"></i></a>
                                    <h2>Growing local economies</h2>
                                    <p></p>
                                </div>
                            </div>
    
                        </div>
                    </div>
    
                </div>
            </section>
            <!-- End consulting section -->