---
layout: default
---

		<!-- blog section 
			================================================== -->
		<section class="blog-section">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="blog-box">
							{% for post in page.posts %}

								{% include postbox.html %}
							
							{% endfor %}
						</div>
							
					</div>
					<div class="col-md-4">
						<div class="sidebar">
							{% include sidebar.html %}
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End blog section -->