<!doctype html>

<html lang="en" class="no-js">
	{% include head.html %}
<body>

	<!-- Container --> 
	<div id="container">
		{% include header.html %}
		{% include home-slider.html %}
		{% include home-focus.html %}

		<!-- services-section 
			================================================== -->
		<section class="services-section">
			<div class="services-box">
				<div class="container">
						<div class="title-section">
								<h1>Wondering what could be here?!!!</h1>
								<p>Its Caaaming Sooonn!!! Keep watching.</p>
							</div>
					<div class="row">
<!-- 
						<div class="col-md-4">
							<div class="services-post">
								<img src="upload/others/1.jpg" alt="">
								<div class="services-content">
									<h2><a href="services-single.html">Help & Support</a></h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer adipiscing erat eget risus sollicitudin pellentesque et non erat.</p>
									<ul class="serv-links">
										<li><a href="#">Aliquam tincidunt mauris eu risus</a></li>
										<li><a href="#">Vestibulum auctor</a></li>
										<li><a href="#">Nunc dignissim risus id metus</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="services-post">
								<img src="upload/others/2.jpg" alt="">
								<div class="services-content">
									<h2><a href="services-single.html">Adoption</a></h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer adipiscing erat eget risus sollicitudin pellentesque et non erat.</p>
									<ul class="serv-links">
										<li><a href="#">Aliquam tincidunt mauris eu risus</a></li>
										<li><a href="#">Vestibulum auctor</a></li>
										<li><a href="#">Nunc dignissim risus id metus</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="services-post">
								<img src="upload/others/3.jpg" alt="">
								<div class="services-content">
									<h2><a href="services-single.html">Volunteering</a></h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer adipiscing erat eget risus sollicitudin pellentesque et non erat.</p>
									<ul class="serv-links">
										<li><a href="#">Aliquam tincidunt mauris eu risus</a></li>
										<li><a href="#">Vestibulum auctor</a></li>
										<li><a href="#">Nunc dignissim risus id metus</a></li>
									</ul>
								</div>
							</div>
						</div> -->

					</div>
				</div>

			</div>
		</section>
		<!-- End services section -->

		{% include home-statistics.html %}
		
		{% include home-choose-us.html %}
		
		<!-- news-section 
			================================================== -->
		<section class="news-section">
			<div class="container">
				<div class="title-section">
					<h1>Latest News</h1>
					<p>Read about all latest updates from us.</p>
				</div>
				<div class="news-box">
					<div class="row">
					
						<div class="col-md-4">
							<div class="news-post">
								<div class="news-gallery">
									<img src="{{site.baseurl}}/upload/blog/caamingsoon.png" alt="">
								</div>
								<div class="news-content">
									<h2><a href="{{site.baseurl}}/caaamingsooonn.html">Caaaming Sooonn!!!</a></h2>
									<span class="date">7 September 2019</span>
									<a class="comm-number" href="{{site.baseurl}}/caaamingsooonn.html"><i class="fa fa-comments"></i> 0 comments</a>
								</div>
							</div>
						</div>
					
						<!-- <div class="col-md-4">
							<div class="news-post">
								<div class="news-gallery">
									<img src="upload/blog/proj-2.jpg" alt="">
								</div>
								<div class="news-content">
									<h2><a href="single-post.html">Donec nec justo eget felis facilisis fermentum. </a></h2>
									<span class="date">4 jannuary 2016</span>
									<a class="comm-number" href="#"><i class="fa fa-comments"></i> 4 comments</a>
								</div>
							</div>
						</div> -->

						<!-- <div class="col-md-4">
							<div class="news-post">
								<div class="news-gallery">
									<img src="upload/blog/proj-4.jpg" alt="">
								</div>
								<div class="news-content">
									<h2><a href="single-post.html">Nam dui mi, tincidunt quis, accumsan porttitor.</a></h2>
									<span class="date">4 jannuary 2016</span>
									<a class="comm-number" href="#"><i class="fa fa-comments"></i> 4 comments</a>
								</div>
							</div>
						</div> -->

					</div>

				</div>

			</div>
		</section>
		<!-- End news section -->

		{% include home-testimonial.html %}

		{% include footer.html %}
	</div>
	<!-- End Container -->

	<!-- Revolution slider -->
	<script type="text/javascript">
		var tpj=jQuery;							
		var revapi66;
		tpj(document).ready(function() {
			if(tpj("#rev_slider_66_1").revolution == undefined){
				revslider_showDoubleJqueryError("#rev_slider_66_1");
			}else{
				revapi66 = tpj("#rev_slider_66_1").show().revolution({
					sliderType:"standard",
					jsFileLocation:"js/",
					sliderLayout:"fullwidth",
					dottedOverlay:"none",
					gridheight:600,
					gridwidth:1140,
					delay:9000,
					navigation: {
						keyboardNavigation:"off",
						keyboard_direction: "horizontal",
						mouseScrollNavigation:"off",
						onHoverStop:"off",
						touch:{
							touchenabled:"on",
							swipe_threshold: 75,
							swipe_min_touches: 1,
							swipe_direction: "vertical",
							drag_block_vertical: false
						},
                        arrows: {
                            style: "uranus",
                            enable: true,
                            hide_onmobile: true,
                            hide_under: 778,
                            hide_onleave: true,
                            hide_delay: 200,
                            hide_delay_mobile: 1200,
                            tmp: '',
                            left: {
                                h_align: "left",
                                v_align: "center",
                                h_offset: 20,
                                v_offset: 0
                            },
                            right: {
                                h_align: "right",
                                v_align: "center",
                                h_offset: 20,
                                v_offset: 0
                            }
                        }
					},
					lazyType:"none",
					shadow:0,
					spinner:"off",
					stopLoop:"on",
					stopAfterLoops:0,
					stopAtSlide:1,
					shuffle:"off",
					autoHeight:"off",
					fullScreenAlignForce:"off",
					fullScreenOffsetContainer: "",
					fullScreenOffset: "",
					disableProgressBar:"on",
					hideThumbsOnMobile:"off",
					hideSliderAtLimit:0,
					hideCaptionAtLimit:0,
					hideAllCaptionAtLilmit:0,
					debugMode:false,
					fallbacks: {
						simplifyAll:"off",
						nextSlideOnWindowFocus:"off",
						disableFocusListener:false,
					}
				});
			}
		});	/*ready*/
	</script>
</body>
</html>