---
layout: default
---

<!-- blog section 
			================================================== -->
<section class="blog-section">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="blog-box">

					<div class="blog-post single-post">
							
						<img src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ page.image | absolute_url }}{% endif %}" alt="">
						<div class="post-content-text">
							<h1>{{page.title}}</h1>
							<span>{{ page.date | date: '%d %B %Y' }}</span>
							{{content}}
						</div>
					</div>
					
					<hr>
					<!-- Prev/Next Start-->
					<ul class="pagination-list">
						{% if page.previous.url %}
						<li><a href="{{page.previous.url | absolute_url}}"
								class="prev-pag">&laquo; Prev</a></li>
								{% endif %}
								{% if page.next.url %}
						<li><a href="{{page.next.url | absolute_url}}" class="next-pag">Next &raquo;</a>
						</li>
						{% endif %}
					</ul>
					<!-- Prev/Next End -->

					{% assign author = site.data.authors[page.author] %}
					{% if page.author %}
					<hr>
					<div class="autor-post">
						<img src="{% if author.image %}{% if author.image contains "://" %}{{ author.image }}{% else %}{{ author.image | absolute_url }}{% endif %}{% else %}{{site.baseurl}}/upload/others/logo.png{% endif %}" alt="{{ author.display_name }}">
						<div class="autor-content">
							<h2>{{ author.display_name }}</h2>
							<span>{{ author.tag }}</span>
							<p>{{author.description}}</p>
						</div>
					</div>
					<hr>
					{% endif %}

				</div>
				
			</div>
			<div class="col-md-4">
				<div class="sidebar">
					{% include sidebar.html %}
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End blog section -->